.idea
build
dist
venv
.tox
.coverage
MANIFEST
docs/_build

*.egg-info

.vscode/*
!.vscode/settings.windows.template.json
!.vscode/tasks.json

.venv/*
!.venv/.keep

.mypy_cache
.pytest_cache

__pycache__

playground

vscode
